<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Test</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
    <h1>
      <%= title %>
    </h1>
  </header>
  <nav>
  </nav>
  <article>